{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.svg'%}">
    <link rel="mask-icon" href="{% static 'favicon.svg'%}" color="#fff">
    <link rel="apple-touch-icon" href="{% static 'favicon.svg'%}">
    <link href="{% static 'assets/css/style.css'%}?v=2.0" rel="stylesheet">
<title>Le Hashim</title>




    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'fav57.png'%}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'fav60.png'%}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'fav72.png'%}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'fav76.png'%}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'fav114.png'%}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'fav120.png'%}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'fav144.png'%}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'fav152.png'%}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'fav180.png'%}">
        <link rel="icon" type="image/png" sizes="192x192" href="{% static 'fav192.png'%}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'fav32.png'%}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'fav96.png'%}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'fav16.png'%}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'fav144.png'%}">



<style>
@media (max-width: 499.98px){
.card-list-posts .card-image {
height: 200px;
}}
  .theme-day .hoverr:hover{
color:#eb2810 !important;
}

.theme-night .hoverr:hover{
color:#eb2810 !important;
}
.theme-day .color-gray-700 {
    color: #ffffff !important;
}
</style>
    <title>Le Hashim</title>
  </head>
  <body>

    <header class="header sticky-bar ">
      <div class="container">
      <div class="row align-items-start">
        <div class="col-xl-1"></div>
        <div class="col-xl-10 col-lg-12" style="   ">

        <div class="main-header">
          <div class="header-logo"><a class="d-flex" href="{% url 'index'%}"><img class="logo-night" alt="GenZ" src="{% static 'assets/imgs/logo2.svg'%}"><img class="d-none logo-day" alt="GenZ" src="{% static 'assets/imgs/logo.svg'%}"></a></div>
          <div class="header-nav">
            <nav class="nav-main-menu d-none d-xl-block">
              <ul class="main-menu">
                 <li class=""><a class="active hoverr"style=" cursor: pointer; " >Haqqımda</a>
                  <ul class="sub-menu" style=" background: #f9fbff; border: 0px solid #E9EEF5; box-shadow: none; margin-top: 11px; min-width: 268px; ">
                    <li><a class=" cccc hoverr" style=" cursor: pointer; " href="{% url 'about'  %}">Haqqımda</a></li>
                    <li><a class=" cccc hoverr" style=" cursor: pointer; " href="{% url 'about'  %}">Portfolio</a></li>
                    <li><a class=" cccc hoverr"style=" cursor: pointer; " href="{% url 'about'  %}">Rəylər</a></li>
                  </ul>
                </li>
                {% for c in categories%}
                {% if c.categories.count > 0 %}
                <li class=""><a class="active hoverr "style=" cursor: pointer; " >{{c.name}}</a>
                  <ul class="sub-menu" style=" background: #f9fbff; border: 0px solid #E9EEF5; box-shadow: none; margin-top: 11px; min-width: 268px; ">
                    {% for s in c.categories.all %}


                    {% if s.categories.count > 0 %}
                    <li><a class=" cccc hoverr" style=" cursor: pointer; "href="{% url 'category' s.id %}">{{s.name}}</a>

                     <ul class="sub-menu" style=" background: #f9fbff; border: 1px solid #E9EEF5; box-shadow: none; margin-top: 11px; width: 192px; left: 8px; ">
                    {% for t in s.categories.all %}
                       <li><a class=" cccc hoverr" style=" cursor: pointer; " href="{% url 'category' s.id %}" style="font-size: 14px !important;line-height: 1px;">{{t.name}}</a></li>
                       {% endfor%}
                       </ul>

                    </li>
                    {% else %}
                    <li><a class=" cccc hoverr" style=" cursor: pointer; " href="{% url 'category' s.id %}">{{s.name}}</a></li>
                    {% endif %}
                    {% endfor %}
                  </ul>
                </li>
                {% else %}
                <li><a class="active"style=" cursor: pointer; " href="{% url 'category' c.id %}">{{c.name}}</a>

                </li>
                {% endif %}
                {% endfor %}

              </ul>
            </nav>
            <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
          </div>
          <div class="header-right text-end"><a class="btn btn-search" href="#" style=" margin-top: 2px; "></a>
            <div class="form-search p-20">
              <form action="#">
                <input class="form-control" type="text" placeholder="Search">
                <input class="btn-search-2" type="submit" value="">
              </form>

            </div>
            <div class="switch-button">
              <div class="form-check form-switch">
                <input class="form-check-input" id="flexSwitchCheckChecked" type="checkbox" role="switch" checked="">
              </div>
            </div>
          </div>
        </div>







          </div>
      </div>
      </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar bg-gray-900">
      <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
          <div class="mobile-logo border-gray-800"><a class="d-flex" href="{% url 'index'%}"><img style=" width: 40px; " class="logo-night" alt="GenZ" src="{% static 'assets/imgs/logo2.svg'%}"><img style=" width: 40px; " class="d-none logo-day" alt="GenZ" src="{% static 'assets/imgs/logo.svg'%}"></a></div>
          <div class="perfect-scroll">
            <div class="mobile-menu-wrap mobile-header-border" style="margin-bottom:15px;">
              <nav class="mt-15">
                <ul class="mobile-menu font-heading">
                   <li class="has-children"><a class="active" >Haqqımda</a>
                  <ul class="sub-menu">
                    <li><a class="color-gray-500" href="{% url 'about'  %}">Haqqımda</a></li>
                    <li><a class="color-gray-500" href="{% url 'about'  %}">Portfolio</a></li>
                    <li><a class="color-gray-500" href="{% url 'about'  %}">Rəylər</a></li>
                  </ul>
                </li>
                  {% for c in categories %}
                  {% if c.categories.count > 0%}
                  <li class="has-children"><a class="active">{{c.name}}</a>
                    <ul class="sub-menu">
                      {% for s in c.categories.all %}
                      <li><a href="{% url 'category' s.id %}">{{s.name}}</a></li>
                    {% endfor%}
                    </ul>
                  </li>
                  {% else %}
                  <li><a href="{% url 'category' c.id %}">{{c.name}}</a></li>
                  {% endif %}
                  {% endfor%}

                </ul>
              </nav>
            </div>

             {% for s in socials%}
                  <div class="d-inline-block  " data-wow-delay=".0s">
                    <a class="  color-gray-500 whitebg" href="{{s.link}}" style="display:none;     margin-right: 8px;  " >
                      <img src="{{s.icon_white_backround.url}}" style=" width: 40px; ">
                    </a>
                    <a class="   color-gray-500 blackbg" href="{{s.link}}" style="display:none;     margin-right: 8px;  ">
                      <img src="{{s.icon_black_backround.url}}" style=" width: 40px; ">
                    </a>
                  </div>
                {% endfor%}
            <div class="site-copyright color-gray-400 mt-30">© Lehashim.com Bütün hüquqlar qorunur!</div>
          </div>
        </div>
      </div>
    </div>
    <main class="main">
       <div class="cover-home1">








        <div class="container">
          <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-10 col-lg-12">

               <div class="row align-items-end mt-50">
                <div class="col-lg-7 mb-20">
                  <div class="d-inline-block position-relative">
                    <h1 class="color-white mb-20 color-linear wow animate__animated animate__fadeIn">{{category.name}}</h1><span class="btn btn-linear-small btn-number-arts">{{category.blogs.count}} məqalə</span>
                  </div>
                  <p class="color-gray-500 text-base wow animate__animated animate__fadeIn">{{category.description}}</p>
                </div>
                <div class="col-lg-5 mb-20 text-start text-lg-end">
                  <div class="box-breadcrumbs wow animate__animated animate__fadeIn">
                    <ul class="breadcrumb">
                      <li><a class="home" href="{% url 'index'%}">Ana səhifə</a></li>
                      <li><a>Kateqoriya</a></li>
                      <li><a href="{% url 'category' category.id%}">{{category.name}}</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="border-bottom border-gray-800 mt-10 mb-30"></div>
                </div>
              </div>

               <div class="row "  style="margin-top:50px;--bs-gutter-x: 1.5rem;">
                <div class="col-lg-8 col-sm-12 sdsfrrsdsd " >



                  <div class=" box-list-posts infinite-container" style=" margin-top: 0; ">
                    {% for b in blogs %}
                    <div class="card-list-posts wow animate__animated animate__fadeIn infinite-item" style="border-bottom: 1px solid #cfcfcf; padding-bottom: 26px;margin-bottom: 27px;">
                      <a href="{% url 'blog' b.id%}" style="height:200px;margin-right: 35px;background-size: cover;background-image:url({{b.main_image.url}});border-radius:14px;" class="card-image hover-up"></a>
                      <div class="card-info"><a class="btn btn-tag bg-gray-800 hover-up" href="{% url 'category' b.categpry.id %}">{{b.category.name}}</a><br>
                        <a href="{% url 'blog' b.id%}">
                          <h4 class="mt-15 mb-20 color-white hoverunder" style=" font-size: 1.375rem; ">{{b.title}}</h4></a>
                        <p class="color-gray-500">{{b.short_description}}</p>
                        <div class="row mt-20">
                          <div class="col-7">

                            <div class="text-sm mr-15 csdsdc" style=" display: inline; ">{{b.date | date:'d.m.y'}}</div>
                            <span class="csdsdc text-sm timeread">{{b.reading_time}}</span>

                          </div>
                          <div class="col-5 text-end"><a href="{% url 'blog' b.id %}" class="linkhover"> <span class="csdsdc text-sm ">Davamını oxu</span></a></div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>






                    <button  style="margin-bottom:33px; width: 100%;border-radius: 9px;height: 55px;margin-top: 33px;" class="btn btn-linear btn-arrow-right">Daha Çox</button>
                  {% if blogs.has_next %}
                <a class="infinite-more-link" href="?page={{ blogs.next_page_number }}"></a>
                {% endif %}



                </div>
                <div class="col-lg-4">

                  <div class="sidebar" >
                    <div class="box-sidebar bg-gray-850 border-gray-800 ">
                      <div class="head-sidebar wow animate__animated animate__fadeIn">
                        <h5 class="line-bottom fontcolor">Çox Oxunanlar</h5>
                      </div>
                      <div class="content-sidebar" style=" margin-bottom: 19px; ">

                           <div class="list-posts">
                          {% for b in blogsmost %}
                          <div class="item-post wow animate__animated animate__fadeIn">
                            <div class="image-postt" style=" margin-right: 10px; ">
                              <a href="{% url 'blog' b.id %}">
                                <div style="background-image:url({{b.main_image.url}});width: 70px; height: 70px; border-radius: 50%; background-size: cover;    border: 1px solid #8d8d8d;">

                                </div>
                              </a></div>
                            <div class="info-post border-gray-800"><a href="{% url 'blog' b.id %}">
                                <h6 class="fontcolor hoverunder">{{b.title}}</h6></a><br><span class="fontcolor ">15 dəq</span>
                              <ul class="d-inline-block">
                                <li class="fontcolor">{{b.date | date:'d.m.Y'}}</li>
                              </ul>
                            </div>
                          </div>
                           {% endfor%}
                        </div>

                         </div>
                    </div>


                  </div>

                  <div class="sidebar" >
                    <div class="box-sidebar bg-gray-850 border-gray-800 ">

                      <div class="content-sidebar" style=" margin-bottom: 19px; ">


                           <div class="box-testimonials mb-150animate__fadeIn mb-100" style=" margin-bottom: 84px !important; margin-top: 26px; ">
                <div class="box-swiper">
                  <div class="swiper-container swiper-group-33">
                    <div class="swiper-wrapper pt-5">
                      <div class="swiper-slide">
                        <div class="card-testimonials bg-gray-850 borderwhitee hover-up hdtfgfg">
                          <div class="box-author mb-20"><img src="{% static 'assets/imgs/page/about/author.png'%}" alt="Genz">
                            <div class="author-info">
                              <h6 class=" fontcolor">Karen Adderiy</h6><span class="  text-sm fontcolor">Alithemes Co</span>
                            </div>
                          </div>
                          <div class="card-info">
                            <p class="color-gray-500">Dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id.</p>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="card-testimonials bg-gray-850 borderwhite hover-up hdtfgfg">
                          <div class="box-author mb-20"><img src="{% static 'assets/imgs/page/about/author2.png'%}" alt="Genz">
                            <div class="author-info">
                            <h6 class=" fontcolor">Karen Adderiy</h6><span class="  text-sm fontcolor">Alithemes Co</span>
                            </div>
                          </div>
                          <div class="card-info">
                            <p class="color-gray-500">Dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id.</p>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="card-testimonials bg-gray-850 borderwhite hover-up hdtfgfg">
                          <div class="box-author mb-20"><img src="{% static 'assets/imgs/page/about/author3.png'%}" alt="Genz">
                            <div class="author-info">
                             <h6 class=" fontcolor">Karen Adderiy</h6><span class="  text-sm fontcolor">Alithemes Co</span>
                            </div>
                          </div>
                          <div class="card-info">
                            <p class="color-gray-500">Dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-buttons">
                    <div class="swiper-button-prev swiper-button-prev-style-3"></div>
                    <div class="swiper-button-next swiper-button-next-style-3"></div>
                  </div>
                </div>
              </div>
                      </div>
                    </div>


                  </div>



                  <div class="sidebar" >


                        <div class=" desktop box-sidebar bg-gray-850 border-gray-800 ">

                      <div class="content-sidebar" style=" margin-bottom: 41px; ">
                      <div class="fontcolor" style=" font-size: 24px;font-weight: bold;line-height: 53px;margin-top: 4px; ">Abunə olun, agah olun</div>
                      <div style=" margin-bottom: 17px; " class="fontcolor">Görüş, buraxılış və bütün yeniliklərdən  xəbərdar olmaq üçün abunə ola bilərsiniz.</div>
                      <div style=" display: flex; "><input style="    background-color: #fff;padding: 0 1px 0 37px; font-size: 15px;border: 1px solid #a8a8a8;border-radius: 32px;height: 47px;    margin-right: -49px;    width: 100%;" class="input-sybscriber" placeholder="Email ünvanı..." type="email">
                          <button style="background-image:url({% static 'send.png'%}); width: 184px; border-radius: 32px; width: 50px; border-radius: 32px; background-repeat: no-repeat; background-position: center; background-color: #de210e; background-size: 35px;" class="btn btn-linear btn-arrow-right" type="submit"></button> </div>
                    </div>
                    </div>


                  </div>

                    <div class="sidebar" >


                        <div class="box-sidebar bg-gray-850 border-gray-800 " style="background-image:url({% static 'banner.webp'%});height: 301px; background-size: cover;">


                    </div>


                  </div>






                </div>
              </div>

















 </div>
          </div>
        </div>
      </div>
    </main>






    <div class="box-features  sdcsdcsd"  style="  margin-top: 37px;padding: 0px 30px 0px 30px;width: 100%;margin: auto;margin-bottom: 70px;border-radius: 0;border: none;z-index: 1000;background-color: black !important;background-size: cover;box-shadow: none !important; ">

      <div class="container" style="position: relative ">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-lg-6 col-sm-12 c1c2c3" >
            <h1 class="c1c2c3c4 fontcolorx" style="font-size: 36px;color: #fff !important;font-weight: bold;line-height: 47px;margin-top: 40px;margin-bottom: 19px;">Ödənişsiz Rəqəmsal Marketinq Dərsinə Qoşul</h1>
            <p class="c1c2c3c4c5 fontcolorx" style=" font-size: 17px; line-height: 25px; ">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
          <button style="width: 184px;border-radius: 9px;height: 55px;margin-top: 33px;" class="btn btn-linear btn-arrow-right">Dərslərə başla<i class="fi-rr-arrow-small-right"></i></button>

          </div>
          <div class="col-lg-4 col-sm-12">

           <div class="fffgg" style="background-image:url({% static 'tut.jpg'%});width: 93%; height: 385px; background-size: cover; margin-top: 30px; margin-bottom: 30px; float: right;">

           </div>
          </div>
          <div class="col-1"></div>

        </div>
      </div>
    </div>








 <main class="main">
    <div class="cover-home1">
        <div class="container">
          <div class="row">
             <div class="col-xl-1"></div>
             <div class="col-xl-10 col-lg-12">
                  <div class="">



                <div class="box-topics border-gray-800 bg-gray-850">
                  <div class="row">
                    <div class="col-lg-2">
                      <h5 class="mb-15 color-white wow animate__animated animate__fadeInUp" data-wow-delay="0s">Ordan-burdan məzmunlar</h5>
                      <p class="color-gray-500 mb-20 wow animate__animated animate__fadeInUp" data-wow-delay=".3s">İzləmədə qalın və ən son yeniliklərdən və məlumatlardan xəbərli olun...</p>
                      <div class="box-buttons-slider position-relative wow animate__animated animate__zoomIn">
                        <div class="swiper-button-prev swiper-button-prev-style-1"></div>
                        <div class="swiper-button-next swiper-button-next-style-1"></div>
                      </div>
                    </div>
                    <div class="col-lg-10">
                      <div class="box-swiper">
                        <div class="swiper-container swiper-group-5">
                          <div class="swiper-wrapper">

                            {% for t in topics %}
                            <div class="swiper-slide">
                              <div class="card-style-1"><a href="{% url 'category' t.category.id%}">
                                  <div class="card-image"><img src="{{t.image.url}}" alt="Genz">
                                    <div class="card-info">
                                      <div class="info-bottom">
                                        <h6 class="color-white mb-5">{{t.category.name}}</h6>
                                        <p class="text-xs color-gray-500">{{t.category.blogs.count}} Məqalə</p>
                                      </div>
                                    </div>
                                  </div></a></div>
                            </div>

                            {% endfor%}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>




              </div>




               <div class="text-center mt-70 mb-50">
                <h2 class=" d-inline-block mb-10 wow animate__animated animate__fadeInUp fontcolor">Rəylər</h2>
                <p class="text-lg color-gray-500 wow animate__animated animate__fadeInUp">Nettracking is a B2B marketing software for telecommunications industry.</p>
              </div>
              <div class="box-testimonials mb-150animate__fadeIn mb-100">
                <div class="box-swiper">
                  <div class="swiper-container swiper-group-3">
                    <div class="swiper-wrapper pt-5">
                      <div class="swiper-slide">
                        <div class="card-testimonials bg-gray-850 borderwhite hover-up hdtfgfg">
                          <div class="box-author mb-20"><img src="{% static 'assets/imgs/page/about/author.png'%}" alt="Genz">
                            <div class="author-info">
                              <h6 class=" fontcolor">Karen Adderiy</h6><span class="  text-sm fontcolor">Alithemes Co</span>
                            </div>
                          </div>
                          <div class="card-info">
                            <p class="color-gray-500">Dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id.</p>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="card-testimonials bg-gray-850 borderwhite hover-up hdtfgfg">
                          <div class="box-author mb-20"><img src="{% static 'assets/imgs/page/about/author2.png'%}" alt="Genz">
                            <div class="author-info">
                            <h6 class=" fontcolor">Karen Adderiy</h6><span class="  text-sm fontcolor">Alithemes Co</span>
                            </div>
                          </div>
                          <div class="card-info">
                            <p class="color-gray-500">Dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id.</p>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="card-testimonials bg-gray-850 borderwhite hover-up hdtfgfg">
                          <div class="box-author mb-20"><img src="{% static 'assets/imgs/page/about/author3.png'%}" alt="Genz">
                            <div class="author-info">
                             <h6 class=" fontcolor">Karen Adderiy</h6><span class="  text-sm fontcolor">Alithemes Co</span>
                            </div>
                          </div>
                          <div class="card-info">
                            <p class="color-gray-500">Dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-buttons">
                    <div class="swiper-button-prev swiper-button-prev-style-3"></div>
                    <div class="swiper-button-next swiper-button-next-style-3"></div>
                  </div>
                </div>
              </div>


              <div class="desktop box-features bg-gray-850 border-gray-800 sdcsdcsd" style="padding: 0 30px 0 30px;box-shadow: 2px 2px 7px 1px #c8c8c8; width: 100%; margin: auto; margin-bottom: -73px; border-radius: 11px;z-index: 1000; height: 160px; ">

      <div class="container">
        <div class="row">
          <div class="col-6">
            <h1 class="fontcolor" style=" font-size: 29px; font-weight: bold; line-height: 53px;    margin-top: 29px; ">Abunə olun, agah olun</h1>
            <p class="fontcolor">Görüş, buraxılış və bütün yeniliklərdən <br>xəbərdar olmaq üçün abunə ola bilərsiniz.</p>
          </div>
          <div class="col-6">

            <div class="box-subscriber mt-40 mb-50 wow animate__ animate__fadeInUp  animated" style="max-width: 500px; visibility: visible; animation-name: fadeInUp;">
                      <div class="inner-subscriber bg-gray-800" style=" box-shadow: unset; background: unset;    background-color: unset !important; ">
                        <form class="d-flex" action="#">
                          <input class="input-sybscriber" type="text" placeholder="Email ünvanı..." style="    background-color: #fff;padding: 0 1px 0 37px; font-size: 15px;border: 1px solid #a8a8a8;border-radius: 32px;height: 55px;margin-right: -50px;">
                          <button style=" width: 184px; border-radius: 32px; " class="btn btn-linear btn-arrow-right">Abunə Olun<i class="fi-rr-arrow-small-right"></i></button>
                        </form>
                      </div>
                    </div>
          </div>
        </div>
      </div>
    </div>


                  <div style=" margin-bottom: -101px; " class="mobile box-sidebar bg-gray-850 border-gray-800 ">

                      <div class="content-sidebar" style=" margin-bottom: 41px; ">
                      <div class="fontcolor" style=" font-size: 24px;font-weight: bold;line-height: 53px;margin-top: 4px; ">Abunə olun, agah olun</div>
                      <div style=" margin-bottom: 17px; " class="fontcolor">Görüş, buraxılış və bütün yeniliklərdən  xəbərdar olmaq üçün abunə ola bilərsiniz.</div>
                      <div style=" display: flex; "><input style="    background-color: #fff;padding: 0 1px 0 37px; font-size: 15px;border: 1px solid #a8a8a8;border-radius: 32px;height: 47px;    margin-right: -49px;    width: 100%;" class="input-sybscriber" placeholder="Email ünvanı..." type="email">
                          <button style="background-image:url({% static 'send.png'%}); width: 184px; border-radius: 32px; width: 50px; border-radius: 32px; background-repeat: no-repeat; background-position: center; background-color: #de210e; background-size: 35px;" class="btn btn-linear btn-arrow-right" type="submit"></button> </div>
                    </div>
                    </div>

            </div>
          </div>
        </div>
      </div>
    </main>








   <footer class="footer" style=" z-index: 0; ">
      <div class="container" style=" width: 100%; max-width: 100%;     padding: 0;">
        <div class="footer-1 bg-gray-850 border-gray-800" style=" border: none; margin: 0;     border-radius: 0;padding-top: 140px;">
          <div class="row">
            <div class="col-lg-3 mb-30"><a class="wow animate__animated animate__fadeInUp" href="{% url 'index'%}"><img class="logo-night" src="{% static 'assets/imgs/logo2.svg'%}" style=" width: 100px; " alt="Genz"><img style=" width: 100px; " class="d-none logo-day" alt="GenZ" src="{% static 'assets/imgs/logo.svg'%}"></a>
              <p class="mb-20 mt-20 text-sm color-gray-500 wow animate__animated animate__fadeInUp">Mən Həşim, rəqəmsal dünyadakı yeniliklər, marketinqlə əlaqəli məlumatlar və çoxşaxəli söhbətlər sizə maraqlıdırsa, rahat yer seçib əyləşin.</p>

            </div>
            <div class="col-lg-3 mb-30" style=" padding-left: 70px; ">
              <h6 class="text-lg mb-30 color-white wow animate__animated animate__fadeInUp" style="font-weight: bold;">Kateqoriyalar</h6>
              <div class="row">
                <div class="col-6">
                  <ul class="menu-footer">
                    {% for c in categories%}
                    <li class="wow animate__animated animate__fadeInUp"><a class="fontcolor cvccn" href="{% url 'category' c.id%}">{{c.name}}</a></li>
                    {% endfor %}
                  </ul>
                </div>

              </div>
            </div>
            <div class="col-lg-3 mb-30" style=" padding-left: 70px; ">
              <h6 class="text-lg mb-30 color-white wow animate__animated animate__fadeInUp" style="font-weight: bold;">Taglar</h6>
              <div class="row">

                <div class="col-6">
                  <ul class="menu-footer">
                    {% for t in tags%}
                    <li class="wow animate__animated animate__fadeInUp"><a class="fontcolor cvccn" href="{% url 'tag' t.slug%}">{{t.name}}</a></li>
                    {% endfor%}
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 mb-30" style=" padding-left: 70px; ">
              <h6 class="text-lg mb-30 color-white wow animate__animated animate__fadeInUp" style="font-weight: bold;">Keçidlər</h6>
              <div class="row">

                <div class="col-6">
                  <ul class="menu-footer">
                    <li class="wow animate__animated animate__fadeInUp"><a class="fontcolor cvccn" href="#">Haqqımda </a></li>
                    <li class="wow animate__animated animate__fadeInUp"><a class="fontcolor cvccn" href="#">Təlimlər </a></li>
                    <li class="wow animate__animated animate__fadeInUp"><a class="fontcolor cvccn" href="#">Tədbirlər </a></li>
                    <li class="wow animate__animated animate__fadeInUp"><a class="fontcolor cvccn" href="#">Xidmətlərim </a></li>
                    <li class="wow animate__animated animate__fadeInUp"><a class="fontcolor cvccn" href="#">Rəylər </a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="footer-bottom border-gray-800">
            <div class="row">
              <div class="col-lg-3 text-center text-lg-start">
              </div>
              <div style="text-align: center !important;" class="col-lg-6 text-center text-lg-start">
                <p class="text-base color-white wow animate__animated animate__fadeIn">© Lehashim.com Bütün hüquqlar qorunur!  </p>
              </div>
              <div class="col-lg-3 text-center text-lg-end vvffdd">
                <div class=" ">
                  {% for s in socials%}
                  <div class="d-inline-block  " data-wow-delay=".0s">
                    <a class="  color-gray-500 whitebg" href="{{s.link}}" style="display:none;     margin-right: 8px;  " >
                      <img src="{{s.icon_white_backround.url}}" style=" width: 40px; ">
                    </a>
                    <a class="   color-gray-500 blackbg" href="{{s.link}}" style="display:none;     margin-right: 8px;  ">
                      <img src="{{s.icon_black_backround.url}}" style=" width: 40px; ">
                    </a>
                  </div>
                {% endfor%}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="progressCounter progressScroll hover-up hover-neon-2">
      <div class="progressScroll-border">
        <div class="progressScroll-circle"><span class="progressScroll-text"><i class="fi-rr-arrow-small-up"></i></span></div>
      </div>
    </div>
    <script src="{% static 'assets/js/vendors/modernizr-3.6.0.min.js'%}"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="{% static 'assets/js/vendors/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/vendors/waypoints.js'%}"></script>
    <script src="{% static 'assets/js/vendors/wow.js'%}"></script>
    <script src="{% static 'assets/js/vendors/text-type.js'%}"></script>
    <script src="{% static 'assets/js/vendors/swiper-bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/vendors/jquery.progressScroll.min.js'%}"></script>
    <script src="{% static 'assets/js/main.js'%}?v=2.0"></script>


    <script src="/static/jquery.waypoints.min.js"></script>
    <script src="/static/infinite.min.js"></script>
    <script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {

    },
    offset: 'bottom-in-view',

    onBeforePageLoad: function () {
    $('.spinner-border').show();
    },
    onAfterPageLoad: function () {
    $('.spinner-border').hide();
    }

    });

    </script>



  <script>
    $(".limitt").text(function(index, currentText) {
    return currentText.substr(0, 115)+'...';
});
  </script>
  </body>
</html>