{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/imgs/template/favicon.svg'%}">
    <link href="{% static 'assets/css/style.css'%}?v=2.0" rel="stylesheet">
    <title>Le Hashim</title>
  </head>
  <body>
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="text-center"><img class="mb-10" src="{% static 'assets/imgs/template/favicon.svg'%}" alt="GenZ">
            <div class="preloader-dots"></div>
          </div>
        </div>
      </div>
    </div>
    <header class="header sticky-bar bg-gray-900">
      <div class="row align-items-start">
        <div class="col-xl-1"></div>
        <div class="col-xl-10 col-lg-12" style=" padding-right: 59px; padding-left: 72px; ">

        <div class="main-header">
          <div class="header-logo"><a class="d-flex" href="{% url 'index'%}"><img class="logo-night" alt="GenZ" src="{% static 'assets/imgs/logo.svg'%}"><img class="d-none logo-day" alt="GenZ" src="{% static 'assets/imgs/logo.svg'%}"></a></div>
          <div class="header-nav">
            <nav class="nav-main-menu d-none d-xl-block">
              <ul class="main-menu">
                {% for c in categories%}
                {% if c.categories.count > 0 %}
                <li class="has-children"><a class="active" >{{c.name}}</a>
                  <ul class="sub-menu">
                    {% for s in c.categories.all %}
                    <li><a class="color-gray-500" href="{% url 'category' s.id %}">{{s.name}}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                {% else %}
                <li><a class="active" href="{% url 'category' c.id %}">{{c.name}}</a>

                </li>
                {% endif %}
                {% endfor %}
                <li class="has-children"><a class="active" >Haqqımda</a>
                  <ul class="sub-menu">
                    <li><a class="color-gray-500" href="{% url 'about'  %}">Haqqımda</a></li>
                    <li><a class="color-gray-500" href="{% url 'about'  %}">Portfolio</a></li>
                    <li><a class="color-gray-500" href="{% url 'about'  %}">Rəylər</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
            <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
          </div>
          <div class="header-right text-end"><a class="btn btn-search" href="#"></a>
            <div class="form-search p-20">
              <form action="#">
                <input class="form-control" type="text" placeholder="Search">
                <input class="btn-search-2" type="submit" value="">
              </form>

            </div>
            <div class="switch-button">
              <div class="form-check form-switch">
                <input class="form-check-input" id="flexSwitchCheckChecked" type="checkbox" role="switch" checked="">
              </div>
            </div>
          </div>
        </div>







          </div>
      </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar bg-gray-900">
      <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
          <div class="mobile-logo border-gray-800"><a class="d-flex" href="{% url 'index'%}"><img class="logo-night" alt="GenZ" src="{% static 'assets/imgs/template/logo.svg'%}"><img class="d-none logo-day" alt="GenZ" src="{% static 'assets/imgs/template/logo-day.svg'%}"></a></div>
          <div class="perfect-scroll">
            <div class="mobile-menu-wrap mobile-header-border">
              <nav class="mt-15">
                <ul class="mobile-menu font-heading">
                  {% for c in categories %}
                  {% if c.categories.count > 0%}
                  <li class="has-children"><a >{{c.name}}</a>
                    <ul class="sub-menu">
                      {% for s in c.categories.all %}
                      <li><a href="{% url 'category' s.id %}">{{s.name}}</a></li>
                    {% endfor%}
                    </ul>
                  </li>
                  {% else %}
                  <li><a href="{% url 'category' c.id %}">{{c.name}}</a></li>
                  {% endif %}
                  {% endfor%}
                  <li class="has-children"><a class="active" >Haqqımda</a>
                  <ul class="sub-menu">
                    <li><a class="color-gray-500" href="{% url 'about'  %}">Haqqımda</a></li>
                    <li><a class="color-gray-500" href="{% url 'about'  %}">Portfolio</a></li>
                    <li><a class="color-gray-500" href="{% url 'about'  %}">Rəylər</a></li>
                  </ul>
                </li>
                </ul>
              </nav>
            </div>
            <div class="mobile-account border-gray-800">
              <div class="mobile-header-top bg-gray-900">
                <div class="user-account"><a href="{% url 'about'%}"><img src="{% static 'assets/imgs/template/ava.jpg'%}" alt="GenZ"></a>
                  <div class="content">
                    <h6 class="user-name color-white">Hello<span class="color-white"> Steven !</span></h6>
                    <p class="font-xs text-muted">You have 3 new messages</p>
                  </div>
                </div>
              </div>
              <ul class="mobile-menu">
                <li><a href="{% url 'about'%}">Profile</a></li>
                <li><a href="{% url 'about'%}">Articles Saved</a></li>
                <li><a href="{% url 'about'%}">Add new post</a></li>
                <li><a href="{% url 'about'%}">My Likes</a></li>
                <li><a href="{% url 'about'%}">Account Setting</a></li>
                <li><a href="{% url 'about'%}">Sign out</a></li>
              </ul>
            </div>
            <div class="site-copyright color-gray-400 mt-30">Copyright 2023 &copy; Genz - Personal Blog Template.<br>Designed by<a href="http://alithemes.com" target="_blank">&nbsp; AliThemes</a></div>
          </div>
        </div>
      </div>
    </div>
    <main class="main">
      <div class="banner banner-home4 bg-gray-850 patt" style="  background-size: contain; background-blend-mode: screen;">
        <div class="container">
          <div class="row align-items-start">
            <div class="col-xl-1"></div>
            <div class="col-xl-10 col-lg-12">
              <div class="pt-20">
                <div class="box-banner-4">
                  <div class="banner-image"><img src="{% static 'assets/imgs/profile.png'%}" alt="Genz"></div>
                  <div class="banner-info"><span class="text-sm-bold color-gray-600">Salam!</span>
                    <h3 class="maintext d-inline-block mt-10 mb-15 " style=" ">Mən Həşim, rəqəmsal dünyadakı yeniliklər, marketinqlə əlaqəli məlumatlar və çoxşaxəli söhbətlər sizə maraqlıdırsa, rahat yer seçib əyləşin</h3>
                    <div class="box-socials">
                      {% for s in socials%}
                      <a class="bg-gray-800 hover-up" target="_blank" href="{{s.link}}" style=" background-color: #fff !important; ">
                        <img src="{{s.icon.url}}"> </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cover-home1">
        <div class="container">
          <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-10 col-lg-12">
 <div class="mt-70" style=" margin-top: -55px !important; ">
                <div class="row">

                  {% for f in featured %}
                  <div class="col-lg-4">
                    <div class="project" data-category="web motion" >
                      <div class="item-content">
                        <div class="card-style-1 hover-up mb-30" data-wow-delay=".0s">
                          <div class="card-image"><a class="link-post" href="{% url 'blog' f.blog.id %}">
                            <div style="height:250px; width:100%; background-image:url({{f.blog.main_image.url}});    background-size: cover;"></div>
                              <div class="card-info card-bg-2">
                                <div class="info-bottom mb-15" style=" height: 139px; ">
                                  <h3 style=" font-size: 21px;line-height: 25px;margin-top: 0;" class="color-white mb-10">{{f.blog.title}}</h3>
                                  <p style="color: #a6b7d1 !important;top: 70px;position: absolute;" class="limitt color-gray-500 text-sm">{{f.blog.short_description}}</p>
                                </div>
                              </div></a></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  {% endfor %}
                </div>
              </div>


             
              <div class="">
                <div class="box-topics border-gray-800 bg-gray-850">
                  <div class="row">
                    <div class="col-lg-2">
                      <h5 class="mb-15 color-white wow animate__animated animate__fadeInUp" data-wow-delay="0s">Seçilmiş Mövzular</h5>
                      <p class="color-gray-500 mb-20 wow animate__animated animate__fadeInUp" data-wow-delay=".3s">İzləmədə qalın və ən son yeniliklərdən və məlumatlardan xəbərli olun...</p>
                      <div class="box-buttons-slider position-relative wow animate__animated animate__zoomIn">
                        <div class="swiper-button-prev swiper-button-prev-style-1"></div>
                        <div class="swiper-button-next swiper-button-next-style-1"></div>
                      </div>
                    </div>
                    <div class="col-lg-10">
                      <div class="box-swiper">
                        <div class="swiper-container swiper-group-5">
                          <div class="swiper-wrapper">

                            {% for t in topics %}
                            <div class="swiper-slide">
                              <div class="card-style-1"><a href="{% url 'category' t.category.id%}">
                                  <div class="card-image"><img src="{{t.image.url}}" alt="Genz">
                                    <div class="card-info">
                                      <div class="info-bottom">
                                        <h6 class="color-white mb-5">{{t.category.name}}</h6>
                                        <p class="text-xs color-gray-500">{{t.category.blogs.count}} Məqalə</p>
                                      </div>
                                    </div>
                                  </div></a></div>
                            </div>

                            {% endfor%}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row "  style="margin-top:50px;">
                <div class="col-lg-8">
                  <h2 class="color-linear d-inline-block mb-10">Ən Son Paylaşılanlar</h2>
                  <p class="text-lg color-gray-500">İzləmədə qalın yeniliklərdən xəbərdar olun.</p>
                  <div class="box-list-posts "style=" margin-top: 25px; ">
                    {% for b in blogs %}
                    <div class="card-list-posts wow animate__animated animate__fadeIn" style="margin-bottom: 27px;">
                      <a href="{% url 'blog' b.id%}"style="background-image:url({{b.main_image.url}});border-radius:14px;" class="card-image hover-up"></a>
                      <div class="card-info"><a class="btn btn-tag bg-gray-800 hover-up" href="{% url 'category' b.category.id %}">{{b.category.name}}</a>
                        <a href="single-sidebar.html">
                          <h4 class="mt-15 mb-20 color-white">{{b.title}}</h4></a>
                        <p class="color-gray-500">{{b.short_description}}</p>
                        <div class="row mt-20">
                          <div class="col-7">
                            {% for t in b.tags.all %}
                            <a class="color-gray-700 text-sm mr-15" href="{% url 'tag' t.slug %}">#{{t.name}}</a>
                            {% endfor%}
                          </div>
                          <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 dəq</span></div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>

                </div>
                <div class="col-lg-4">
                  <div class="sidebar">
                    <div class="box-sidebar bg-gray-850 border-gray-800">
                      <div class="head-sidebar wow animate__animated animate__fadeIn">
                        <h5 class="line-bottom">Çox Oxunanlar</h5>
                      </div>
                      <div class="content-sidebar">
                        <div class="list-posts">
                          {% for b in blogs %}
                          <div class="item-post wow animate__animated animate__fadeIn">
                            <div class="image-post"><a href="{% url 'blog' b.id %}"><img src="{{b.main_image.url}}" alt="Genz"></a></div>
                            <div class="info-post border-gray-800"><a href="{% url 'blog' b.id %}">
                                <h6 class="color-white">{{b.title}}</h6></a><span class="color-gray-700">15 dəq</span>
                              <ul class="d-inline-block">
                                <li class="color-gray-700">{{b.date | date:'d.m.Y'}}</li>
                              </ul>
                            </div>
                          </div>
                           {% endfor%}
                        </div>
                      </div>
                    </div>

                    <div class="box-sidebar bg-gray-850 border-gray-800">
                      <div class="head-sidebar"><a href="{% url 'index'%}"><img src="{% static 'assets/imgs/logo.svg'%}" alt="Genz"></a>
                        <h6 class="color-gray-700">Follow us on instagram</h6>
                      </div>
                      <div class="content-sidebar">
                        <div class="row mt-30 mb-10">
                          <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery.png'%}" alt="Genz"></a></div>
                          <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery2.png'%}" alt="Genz"></a></div>
                          <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery3.png'%}" alt="Genz"></a></div>
                          <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery4.png'%}" alt="Genz"></a></div>
                          <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery5.png'%}" alt="Genz"></a></div>
                          <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery6.png'%}" alt="Genz"></a></div>
                          <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery7.png'%}" alt="Genz"></a></div>
                          <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery8.png'%}" alt="Genz"></a></div>
                          <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery9.png'%}" alt="Genz"></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer-1 bg-gray-850 border-gray-800">
          <div class="row">
            <div class="col-lg-4 mb-30"><a class="wow animate__animated animate__fadeInUp" href="{% url 'index'%}"><img class="logo-night" src="{% static 'assets/imgs/logo.svg'%}" alt="Genz"><img class="d-none logo-day" alt="GenZ" src="{% static 'assets/imgs/logo.svg'%}"></a>
              <p class="mb-20 mt-20 text-sm color-gray-500 wow animate__animated animate__fadeInUp">Mən Həşim, rəqəmsal dünyadakı yeniliklər, marketinqlə əlaqəli məlumatlar və çoxşaxəli söhbətlər sizə maraqlıdırsa, rahat yer seçib əyləşin.</p>
              <h6 class="color-white mb-5 wow animate__animated animate__fadeInUp">Ünvan</h6>
              <p class="text-sm color-gray-500 wow animate__animated animate__fadeInUp">123 Main Street<br>Bakı, Azərbaycan</p>
            </div>
            <div class="col-lg-4 mb-30">
              <h6 class="text-lg mb-30 color-white wow animate__animated animate__fadeInUp">Keçidlər</h6>
              <div class="row">
                <div class="col-6">
                  <ul class="menu-footer">
                    {% for c in categories%}
                    <li class="wow animate__animated animate__fadeInUp"><a class="color-gray-500" href="{% url 'category' c.id%}">{{c.name}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="col-6">
                  <ul class="menu-footer">
                    {% for t in tags%}
                    <li class="wow animate__animated animate__fadeInUp"><a class="color-gray-500" href="{% url 'tag' t.slug%}">{{t.name}}</a></li>
                    {% endfor%}
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-30">
              <h4 class="text-lg mb-30 color-white wow animate__animated animate__fadeInUp">Abunəlik</h4>
              <p class="text-base color-gray-500 wow animate__animated animate__fadeInUp">Abunə olmaqla xəbərlərdən, yeniliklərdən dərhal xəbərdar olacaqsınız.</p>
              <div class="form-newsletters mt-15 wow animate__animated animate__fadeInUp">
                <form action="#">
                  <div class="form-group">
                    <input class="input-name border-gray-500" type="text" placeholder="Ad Soyad">
                  </div>
                  <div class="form-group">
                    <input class="input-email border-gray-500" type="email" placeholder="Emaill ünvaı">
                  </div>
                  <div class="form-group mt-20">
                    <button class="btn btn-linear hover-up">
                      Abunə Ol
                      <i class="fi-rr-arrow-small-right"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="footer-bottom border-gray-800">
            <div class="row">
              <div class="col-lg-5 text-center text-lg-start">
                <p class="text-base color-white wow animate__animated animate__fadeIn">© Created with<a class="copyright" href="http://elvinseyidov.com" target="_blank"> Elvin</a></p>
              </div>
              <div class="col-lg-7 text-center text-lg-end">
                <div class="box-socials">
                  <div class="d-inline-block mr-30 wow animate__animated animate__fadeIn" data-wow-delay=".0s"><a class="icon-socials icon-twitter color-gray-500" href="https://twitter.com">Twitter</a></div>
                  <div class="d-inline-block mr-30 wow animate__animated animate__fadeIn" data-wow-delay=".2s"><a class="icon-socials icon-linked color-gray-500" href="https://www.linkedin.com">LinkedIn</a></div>
                  <div class="d-inline-block wow animate__animated animate__fadeIn" data-wow-delay=".4s"><a class="icon-socials icon-insta color-gray-500" href="https://www.instagram.com">Instagram</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="progressCounter progressScroll hover-up hover-neon-2">
      <div class="progressScroll-border">
        <div class="progressScroll-circle"><span class="progressScroll-text"><i class="fi-rr-arrow-small-up"></i></span></div>
      </div>
    </div>
    <script src="{% static 'assets/js/vendors/modernizr-3.6.0.min.js'%}"></script>
    <script src="{% static 'assets/js/vendors/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'assets/js/vendors/jquery-migrate-3.3.0.min.js'%}"></script>
    <script src="{% static 'assets/js/vendors/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/vendors/waypoints.js'%}"></script>
    <script src="{% static 'assets/js/vendors/wow.js'%}"></script>
    <script src="{% static 'assets/js/vendors/text-type.js'%}"></script>
    <script src="{% static 'assets/js/vendors/swiper-bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/vendors/jquery.progressScroll.min.js'%}"></script>
    <script src="{% static 'assets/js/main.js'%}?v=2.0"></script>

  <script>
    $(".limitt").text(function(index, currentText) {
    return currentText.substr(0, 130)+'...';
});
  </script>
  </body>
</html>